<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>
<%=form_tag vehicles_path, method: :get do%>
<div class="input-group mb-3">
  <%= text_field_tag :q, nil, class:"form-control", placeholder:"Enter the kind of vehicle"%>
  <div class="input-group-append">
    <%= submit_tag "Search!", class:"btn btn-secondary"%>
  </div>
</div>
<%end%>

<div class="row">
<% if @vehicles.blank? %>
  <p> 0 results </p>
<%else%> 
  <% @vehicles.each do |vehicle| %>
  <div class="col-md-4 mx-auto">
      <div class="card mb-4 mr-4 bg-light" style="width: auto; heigth: auto;">
        <%= link_to(vehicle) do %>
          <%vehicle_pic = vehicle.photo.url || "motocar.png"%>
          <%= image_tag vehicle_pic, class:"card-img-top", alt:"Card image cap"%>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%=vehicle.kind_of_vehicle%></h5>
          <p class="card-text"><%=vehicle.description%></p>
          <h6 class="card-text alert alert-light money"><%=vehicle.price_hour%>€</h6>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label>
              <%= link_to 'Show', vehicle, class:"btn btn-secondary active", method: :get %>
            </label>
              <%if current_user == vehicle.user%>
                <label>
                  <%= link_to 'Edit', edit_vehicle_path(vehicle), class:"btn btn-secondary active", method: :get %>
                </label>
                <label>
                  <%= link_to 'Destroy', vehicle, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </label>
            <% end %>
        </div>
        </div>
        <div class="card-footer text-muted">
        <%user_pic = vehicle.user.photo.url || "srxcuadrado.png"%>
        <%=image_tag user_pic, class:"rounded-circle", size:40 %><%=  vehicle.user.name%>
        </div>
      </div>
    </div>
    

  <%end%>
  <%end%>
 
</div>



